<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>yasuo-auth</contextName>

    <!-- 控制台日志格式：彩色日志 -->
    <!-- magenta: 洋红 -->
    <!-- boldMagenta: 粗红 -->
    <!-- cyan: 青色 -->
    <!-- white: 白色 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%green(%date{yyyy-MM-dd HH:mm:ss SSS}) %highlight([%-5level]) %thread %file:%line %yellow(%logger) %msg%n"/>

    <!-- 编码 -->
    <property name="ENCODING" value="UTF-8"/>

    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <logger name="org.apache.catalina.session.ManagerBase" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.redisson" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.alibaba.nacos.client" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.atomikos" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.mybatis" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.baomidou" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.web.client.RestTemplate" level="DEBUG"/>
    <logger name="com.yasuo.auth" level="DEBUG"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>